@import url("https://fonts.googleapis.com/css?family=Nunito|Source+Sans+Pro");

/*
 Quick Use for the font families

font-family: 'Nunito', sans-serif; For headers
   
font-family: 'Source Sans Pro', sans-serif; For small text
   
 */
body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
}


.main {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url("LoginFormBackground.jpg");
    background-size: cover;
    	/*-webkit-filter: blur(5px);*/
    z-index: 0;
}

.gradient {
    position: absolute;
    top: -30px;
    left: -30px;
    right: -50px;
    bottom: -50px;
    width: auto;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    z-index: 1;
    opacity: 0.8;
}

.logo {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 300px);
    z-index: 2;
}

    .logo div {
        float: left;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 35px;
        font-weight: 200;
    }

        .logo div span {
            color: #5379fa;
        }

   
.loginForm {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}

    .loginForm #txtUser {
        width: 250px;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 4px;
    }

    .loginForm #txtPassword {
        width: 250px;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 4px;
        margin-top: 10px;
    }

    .loginForm #btnLogin {
        width: 260px;
        height: 35px;
        background: transparent;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 2px;
        color: #a18d6c;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 6px;
        margin-top: 10px;
    }

    .loginForm #adLogin {
        width: 260px;
        height: 35px;
        background: transparent;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 2px;
        color: #a18d6c;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 6px;
        margin-top: 10px;
    }

        .loginForm input[type=button]:hover {
            opacity: 0.8;
        }

        .loginForm input[type=button]:active {
            opacity: 0.6;
        }

    .loginForm input[type=text]:focus {
        outline: none;
        border: 1px solid rgba(255,255,255,0.9);
    }

    .loginForm input[type=password]:focus {
        outline: none;
        border: 1px solid rgba(255,255,255,0.9);
    }

    .loginForm input[type=button]:focus {
        outline: none;
    }

::-webkit-input-placeholder {
    color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder {
    color: rgba(255,255,255,0.6);
}
